/porcupineNumber.class
/guthrieSequence.class
/stantonMeasur.class
/sumFactor.class
/Sumfactor.class
/GuthrineIndex.class
/Solve10.class
/arrayOrder.class
/centerFifteen.class
/perfectNumber.class
/checkDivisible.class
/nUnique.class
/isSquareProgram.class
/IsLegalNumber.class
/ConvertToBaseTen.class
/NoZeroArray.class
/ComputeDepth.class
/SimplePattern.class
/IsStacked.class
/SumSafe.class
/IsIsolated.class
/VanillaArray.class
/IsTrivalent.class
/CountRepresentations.class
/SequentiallyBounded.class
/MinMaxDisjoint.class
/SmallestProgram.class
/ClusterCompression.class
/RailRoadTie.class
/FullnessQuotient.class
/IsPacked.class
/ISOddHeavy.class
/GetExponent.class
/IS121Array.class
/FilterArray.class
/LargestAdjacentSum.class
/CheckContendedSum.class
/SequencedArrayprogram.class
/LargestPrimeFactor.class
/EncodeNumber.class
/PatternMatch.class
/NBasedRounding.class
/IsCubePowerful.class
/DecodeArray.class
/ZeroPlentiful.class
/DigitIncreasing.class
/DecodeArrayProgram.class
/OnionArray.class
/PrimeHappy.class
/EcodedArray.class
/SystematicallyIncreasing.class
/FactorialPrime.class
/LargestDifferenceOfEvens.class
/IsHolderNumber.class
/AnagramProgram.class
/IsClosedFibonacci.class
/Vesuvian.class
/OneBalanced.class
/IsFibonacci.class
/Triangular.class
/Mercurial.class
/Is235Array.class
/ComputeHMS.class
/MartainArray.class
/IsPairedN.class
/NPrimeableNumber.class
/PairwiseSum.class
/IsSquare.class
/IsCompleteArray.class
/LoopSumProgram.class
/AllValuesSame.class
/HasNValues.class
/SameNumberOfFactors.class
/EvalProgram.class
/IsAllPossibilities.class
/IsLayered.class
/MilageCounter.class
/IsHollow.class
/IsConsecutiveFactored.class
/IsTwinPrime.class
/LargestAdjacentSumProgram.class
/ZeroBalanced.class
/SmallestBEQNumber.class
/ZeroLimitedArray.class
