/porcupineNumber.class
/guthrieSequence.class
/stantonMeasur.class
/sumFactor.class
/Sumfactor.class
/GuthrineIndex.class
/Solve10.class
/arrayOrder.class
/centerFifteen.class
/perfectNumber.class
/checkDivisible.class
/nUnique.class
/isSquareProgram.class
/IsLegalNumber.class
/ConvertToBaseTen.class
/NoZeroArray.class
/ComputeDepth.class
/SimplePattern.class
/IsStacked.class
/SumSafe.class
/IsIsolated.class
/VanillaArray.class
/IsTrivalent.class
/CountRepresentations.class
/SequentiallyBounded.class
/MinMaxDisjoint.class
/SmallestProgram.class
/ClusterCompression.class
/RailRoadTie.class
/FullnessQuotient.class
/IsPacked.class
